version: "3.9"

services:
  postgres:
    image: postgres:15
    env_file:
      - docker/postgres.env
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - docker/pgadmin.env
    ports:
      - "5050:80"
    volumes:
      - ./docker/pgadmin_servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres

  backend:
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    env_file:
      - docker/backend.env
    ports:
      - "5000:5000"
    depends_on:
      - postgres
      - tor

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.dockerfile
    env_file:
      - docker/frontend.env
    ports:
      - "3000:80"
    depends_on:
      - backend

  tor:
    image: dperson/torproxy
    container_name: tor
    restart: unless-stopped
    environment:
      - LOCATION=FR
      - STRICT=1
      - TOR_MaxCircuitDirtiness=600
    dns:
      - 1.1.1.1
      - 8.8.8.8
    ports:
      - "9050:9050"


volumes:
  pgdata:
